.boldText {
  font-weight: 700;
}
.italicText {
  font-style: oblique;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0 !important;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
}
.kardineoCom__comment a:hover,
a,
li {
  text-decoration: none;
}
a {
  cursor: pointer;
  color: inherit;
}
.new_price_cur,
.new_price_val {
  padding: 0;
}
ol.list-1,
ul.list-1 {
  list-style: none;
  margin: 0;
}
ol.list-1 {
  counter-reset: section;
}
ol.list-1 li {
  counter-increment: section;
}
ol.list-1 li::before {
  content: counters(section, '.') '. ';
  margin-right: 5px;
  margin-left: -24px;
  text-align: right;
}
.list-0 {
  display: inline-block;
  margin-left: 24px;
}
ul.list-1 li::before {
  content: '•';
  margin-right: 14px;
  margin-left: -22px;
  text-align: right;
}
ul.list-1 ol,
ul.list-2 div ol {
  counter-reset: listStyle;
}
ul.list-1 ol li,
ul.list-2 div ol li {
  counter-increment: listStyle;
}
ul.list-1 ol li::before,
ul.list-2 div ol li::before {
  content: counter(listStyle, lower-alpha);
}
ol li.listCircle,
ul li.listCircle {
  list-style-type: none;
}
ol li.listCircle::before,
ul li.listCircle::before {
  content: '∘';
  margin-right: 14px;
  margin-left: -22px;
  text-align: right;
}
.imgBox__wrapper {
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  max-width: 100px;
}
.imgBox__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ctContainer {
  margin: 0 auto;
  width: 100%;
  background: 0 0;
}
.ctContent {
  max-width: 1025px;
  margin: 0 auto;
  box-sizing: border-box;
}
.ctContent,
.ctContentFluid {
  width: 100%;
  background: #fff;
}
.btnWrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
  max-width: 1000px;
}
.btnWrapper__btn {
  border: 0;
  border-radius: 15px;
  padding: 15px;
  font-family: sans-serif;
  font-size: 24px;
  word-break: break-word;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: red;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btnWrapper__btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}
.kardineoCom {
  padding: 10px 40px 20px;
  width: 100%;
  max-width: 100%;
}
.kardineoCom__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.kardineoCom__avatarWrapper {
  display: inline-block;
  margin: 10px 20px 0 0;
  border-radius: 50%;
  padding: 0;
  width: 100%;
  height: 56px;
  max-width: 56px;
}
.kardineoCom__avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kardineoCom__info {
  width: 100%;
}
.kardineoCom__comment,
.kardineoCom__name {
  padding: 0;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 25px;
  word-break: break-word;
  text-decoration: none;
}
.kardineoCom__name {
  margin: 0;
  font-weight: 700;
  color: #000;
}
.kardineoCom__comment {
  margin: 10px 0;
  font-weight: 400;
}
.kardineoCom__comment a {
  text-decoration: underline;
  color: #62a7d9;
}
.kardineoCom__imgProductWrapper {
  display: inline-block;
  margin: 10px 0 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  max-width: 400px;
}
.kardineoCom__imgProduct {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kardineoCom__published {
  margin: 15px 0 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  word-break: break-word;
  color: #62a7d9;
}
.kardineoN2Com {
  display: flex;
  align-items: center;
  padding: 10px 20px 30px;
}
.kardineoN2Com__wrapper {
  display: flex;
  width: 100%;
}
.kardineoN2Com__avatarWrapper {
  margin-right: 15px;
  width: 100%;
  height: 60px;
  max-width: 60px;
}
.kardineoN2Com__avatar {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.kardineoN2Com__name {
  margin: 0 0 5px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
.kardineoN2Com__info {
  width: 100%;
}
.kardineoN2Com__comment,
.kardineoN2Com__link {
  font-family: sans-serif;
  font-size: 18px;
}
.kardineoN2Com__comment {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 400;
  line-height: 23px;
  color: #000;
}
.kardineoN2Com__comment a {
  color: #00f;
}
.kardineoN2Com__comment a:hover {
  color: #000;
}
.kardineoN2Com__link {
  font-weight: 700;
  line-height: 25px;
}
.kardineoN2Com:first-child {
  margin-top: 0;
}
.kardineoN2Com:last-child {
  margin-bottom: 0;
}
.line {
  width: 100%;
  background-color: transparent;
}
.line__container {
  padding: 3px 0;
  width: 100%;
}
.line__bg {
  width: 100%;
  height: 3px;
  background: #000;
}
.oneImageWidget {
  padding: 15px;
}
.oneImageWidget__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 800px;
}
.oneImageWidget__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.paragraphWidget__text {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  line-height: 30px;
  word-break: break-word;
  text-align: left;
}
.h1TitleWidget__text,
.h2TitleWidget__text,
.h3TitleWidget__text,
.h4TitleWidget__text,
.h5TitleWidget__text,
.h6TitleWidget__text {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 140%;
  word-break: break-word;
  color: #000;
}
.h1TitleWidget__text {
  font-size: 40px;
}
.h2TitleWidget__text {
  font-size: 32px;
}
.h3TitleWidget__text {
  font-size: 28px;
}
.h4TitleWidget__text {
  font-size: 24px;
}
.h5TitleWidget__text {
  font-size: 20px;
}
.h6TitleWidget__text {
  font-size: 16px;
}
.h2TitleWidget__text--904016 {
  color: #000;
}
.paragraphWidget__text--474586,
.paragraphWidget__text--672891 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget--649834 {
  color: #1c69bf;
}
.paragraphWidget__text--263908 {
  font-size: 20px;
  line-height: 26px;
}
.line__container--297796 {
  background-color: #fff;
}
.line__bg--533164 {
  background-color: #c5c5c5;
}
.paragraphWidget__text--653053 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget--118688 {
  color: #1c69bf;
}
.paragraphWidget__text--341747,
.paragraphWidget__text--692414,
.paragraphWidget__text--730438,
.paragraphWidget__text--974828 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget--475834 {
  color: #1c69bf;
}
.paragraphWidget__text--151101 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget--970116 {
  color: #1c69bf;
}
.paragraphWidget__text--206712,
.paragraphWidget__text--397645 {
  font-size: 20px;
  line-height: 26px;
}
.ctContent--333580 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--575021,
.paragraphWidget__text--958022 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget__text--575021 {
  color: #000;
}
.paragraphWidget--344409 {
  color: #000;
}
.paragraphWidget--890778 {
  color: #1c69bf;
}
.paragraphWidget__text--343543,
.paragraphWidget__text--514417 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget--102431,
.paragraphWidget--374664 {
  color: #1c69bf;
}
.paragraphWidget__text--588440,
.paragraphWidget__text--733219 {
  font-size: 20px;
  line-height: 26px;
}
.ctContent--738223 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--227115,
.paragraphWidget__text--452779,
.paragraphWidget__text--981635 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget--122063 {
  color: #1c69bf;
}
.paragraphWidget__text--173482,
.paragraphWidget__text--360406 {
  font-size: 20px;
  line-height: 26px;
}
.ctContent--877512 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--617962 {
  font-size: 20px;
  line-height: 26px;
}
.ctContent--970208 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--153475,
.paragraphWidget__text--485788,
.paragraphWidget__text--574882 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget__text--574882 {
  text-align: center;
  color: #e41f1f;
}
.paragraphWidget--764546 {
  color: #000;
  font-size: 23px;
  line-height: 29.9px;
}
.oneImageWidget__img--707335 {
  height: 100%;
}
.paragraphWidget__text--632862 {
  font-size: 20px;
  line-height: 26px;
}
.ctContent--469035 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--365843,
.paragraphWidget__text--439282 {
  font-size: 20px;
  line-height: 26px;
}
.paragraphWidget--742344 {
  color: #1c69bf;
}
.paragraphWidget__text--111744,
.paragraphWidget__text--161573,
.paragraphWidget__text--396066,
.paragraphWidget__text--788958 {
  font-size: 20px;
  line-height: 26px;
}
.ctContent--331151 {
  background-color: #fff;
}
.paragraphWidget__text--678538 {
  font-size: 20px;
  line-height: 26px;
  background-color: transparent;
  color: #000;
}
.paragraphWidget--348927 {
  color: #1c69bf;
}
.ctContent--473996 {
  background-color: #fff;
}
.paragraphWidget__text--129997 {
  font-size: 20px;
  line-height: 26px;
  background-color: transparent;
  color: #000;
}
.paragraphWidget--678419 {
  font-size: 23px;
  line-height: 29.9px;
}
.ctContent--341177 {
  background-color: #fff;
}
.paragraphWidget__text--362040 {
  font-size: 20px;
  line-height: 26px;
  background-color: #e8f1f8;
  color: #000;
}
.paragraphWidget--948444 {
  color: #1c69bf;
}
.ctContent--746017 {
  background-color: #e8f1f8;
}
.btnWrapper__btn--440946 {
  background-color: #1c69bf;
}
.ctContent--979584 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--978105 {
  font-size: 20px;
  line-height: 26px;
  background-color: transparent;
  color: #000;
}
.paragraphWidget--119956 {
  color: #1c69bf;
}
.ctContent--224853 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--473682 {
  font-size: 20px;
  line-height: 26px;
  background-color: transparent;
  color: #000;
}
.paragraphWidget--478883,
.paragraphWidget--618134 {
  color: #1c69bf;
}
.ctContent--348301 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--148032 {
  font-size: 20px;
  line-height: 26px;
  background-color: transparent;
  color: #00828c;
  text-align: center;
}
.paragraphWidget--720657 {
  color: #1c69bf;
}
.ctContent--393683 {
  background-color: #e8f1f8;
}
.paragraphWidget__text--873986 {
  font-size: 20px;
  line-height: 26px;
  background-color: transparent;
}
.paragraphWidget--211094 {
  font-weight: 700;
  color: #1c69bf;
}
.paragraphWidget--185464,
.paragraphWidget--990385 {
  color: #1c69bf;
}
.ctContent--254975 {
  background-color: #fff;
}
.paragraphWidget__text--630483 {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000;
}
.paragraphWidget--591291 {
  color: #d22b2b;
}
.paragraphWidget--691889 {
  color: #1c69bf;
}
.paragraphWidget--454715,
.paragraphWidget--790578 {
  color: #000;
}
.ctContent--510087 {
  background-color: transparent;
}
.paragraphWidget__text--718516 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
}
.paragraphWidget--732882 {
  caret-color: #1c69bf;
}
.paragraphWidget--306199 {
  font-size: 25px;
  line-height: 32.5px;
  color: #000;
}
.ctContent--132443 {
  background-color: transparent;
}
.paragraphWidget__text--830956 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.paragraphWidget--975943 {
  caret-color: #1c69bf;
}
.paragraphWidget--812799 {
  color: #000;
}
.ctContent--886135 {
  background-color: transparent;
}
.paragraphWidget__text--105093 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.paragraphWidget--757453 {
  caret-color: #1c69bf;
}
.paragraphWidget--636308 {
  color: #000;
}
.ctContent--637843 {
  background-color: transparent;
}
.paragraphWidget__text--456190 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.paragraphWidget--328162 {
  caret-color: #1c69bf;
}
.paragraphWidget--327449 {
  color: #000;
}
.ctContent--576506 {
  background-color: transparent;
}
.paragraphWidget__text--399261 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.paragraphWidget--933320 {
  caret-color: #1c69bf;
}
.ctContent--700087 {
  background-color: transparent;
}
.paragraphWidget__text--530831 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.paragraphWidget--517390 {
  caret-color: #1c69bf;
}
.paragraphWidget--169368 {
  color: #000;
}
.ctContent--511990 {
  background-color: transparent;
}
.paragraphWidget__text--813593 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.paragraphWidget--729015 {
  caret-color: #1c69bf;
}
.ctContent--969702 {
  background-color: transparent;
}
.paragraphWidget__text--511432 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.paragraphWidget--424342 {
  caret-color: #1c69bf;
}
.paragraphWidget--274899 {
  color: #000;
  font-weight: 700;
}
.paragraphWidget--396380 {
  font-weight: 400;
}
.ctContent--431473 {
  background-color: transparent;
}
.paragraphWidget__text--540511 {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.paragraphWidget--282198 {
  caret-color: #1c69bf;
}
.btnWrapper__btn--946977 {
  background-color: #1c69bf;
}
.paragraphWidget__text--750654 {
  text-align: left;
  color: #a7a7a7;
  border: 2px solid #a7a7a7;
}
.kardineoN2Com__avatar--594975 {
  object-fit: cover;
}
.kardineoN2Com__comment--858134 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--118705 {
  margin-left: 70px;
  box-sizing: unset;
}
.kardineoN2Com__avatar--743670 {
  object-fit: cover;
}
.kardineoN2Com__comment--195804 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--784121 {
  margin-left: 70px;
  box-sizing: unset;
}
.kardineoN2Com__avatar--314952 {
  object-fit: cover;
}
.kardineoN2Com__comment--806216 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--606391 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__avatar--208653 {
  object-fit: cover;
}
.kardineoN2Com__comment--120722 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.commentImgWrapper_4618391--742991 {
  width: 100%;
  height: fit-content;
}
.commentImg_4618391--749987 {
  width: 100%;
  object-fit: contain;
}
.kardineoN2Com__avatarWrapper--628797 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__comment--387753 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--920637 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__comment--368843 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--173318 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__avatar--808877 {
  object-fit: cover;
}
.kardineoN2Com__comment--804883 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--740685 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 70px;
}
.kardineoN2Com__comment--559787 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--953530 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__comment--366696 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--718323 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__comment--234767 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--819747 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__avatar--251995 {
  object-fit: cover;
}
.kardineoN2Com__comment--575473 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--244726 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 70px;
}
.kardineoN2Com__comment--945922 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--610857 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__comment--213264 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--940645 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__comment--233655 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--989644 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__comment--823673 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--574777 {
  margin-left: 70px;
  box-sizing: unset;
}
.kardineoN2Com__avatar--662000 {
  object-fit: cover;
}
.kardineoN2Com__comment--355829 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.commentImgWrapper_9832444--980652 {
  width: 100%;
  height: fit-content;
}
.commentImg_9832444--558359 {
  width: 100%;
  object-fit: contain;
}
.kardineoN2Com__avatarWrapper--116016 {
  margin-left: 70px;
  box-sizing: unset;
}
.kardineoN2Com__avatar--814057 {
  object-fit: cover;
}
.kardineoN2Com__comment--336209 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--484236 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__avatar--889535 {
  object-fit: cover;
}
.kardineoN2Com__comment--428643 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--849867 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__avatar--235876 {
  object-fit: cover;
}
.kardineoN2Com__comment--241427 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--368046 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__avatar--385192 {
  object-fit: cover;
}
.kardineoN2Com__comment--395350 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--308418 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__avatar--459847 {
  object-fit: cover;
}
.kardineoN2Com__comment--673144 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--178878 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__avatar--256282 {
  object-fit: cover;
}
.kardineoN2Com__comment--129266 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--597912 {
  margin-left: 0;
  box-sizing: unset;
}
.kardineoN2Com__avatar--906899 {
  object-fit: cover;
}
.kardineoN2Com__comment--774672 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--102703 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 70px;
}
.kardineoN2Com__avatar--541758 {
  object-fit: cover;
}
.kardineoN2Com__name--501204 {
  color: #000;
}
.kardineoN2Com__comment--263552 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--516862 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__avatar--698631 {
  object-fit: cover;
}
.kardineoN2Com__name--226629 {
  color: #000;
}
.kardineoN2Com__comment--628552 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--183453 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__avatar--181055 {
  object-fit: cover;
}
.kardineoN2Com__name--548637 {
  color: #000;
}
.kardineoN2Com__comment--169062 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--885772 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__avatar--208474 {
  object-fit: cover;
}
.kardineoN2Com__name--656049 {
  color: #000;
}
.kardineoN2Com__comment--529434 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--791295 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__avatar--379369 {
  object-fit: cover;
}
.kardineoN2Com__name--426026 {
  color: #000;
}
.kardineoN2Com__comment--360694 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--340883 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__avatar--410624 {
  object-fit: cover;
}
.kardineoN2Com__name--634734 {
  color: #000;
}
.kardineoN2Com__comment--887874 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--965884 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__avatar--697097 {
  object-fit: cover;
}
.kardineoN2Com__name--507451 {
  color: #000;
}
.kardineoN2Com__comment--345432 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kardineoN2Com__avatarWrapper--785560 {
  margin-left: 0;
  box-sizing: unset;
  padding-left: 0;
}
.kardineoN2Com__avatar--262931 {
  object-fit: cover;
}
.kardineoN2Com__name--373363 {
  color: #000;
}
.kardineoN2Com__comment--296025 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
.paragraphWidget__text--322550 {
  text-align: center;
  color: #a7a7a7;
  border: 2px solid #a7a7a7;
}
.btnWrapper__btn--909391 {
  background-color: #1a4470;
}
@media screen and (max-width: 767px) {
  .textMedia {
    padding: 5px;
  }
  .textHeightMedia {
    line-height: normal;
  }
  .textLetterMedia {
    letter-spacing: normal;
  }
}
@media (max-width: 767px) {
  .btnWrapper__btn {
    font-size: 20px;
  }
  .kardineoCom {
    padding: 10px 10px 20px;
  }
  .kardineoN2Com__comment {
    font-size: 18px;
    line-height: 18px;
  }
  .h1TitleWidget__text,
  .h2TitleWidget__text,
  .h3TitleWidget__text,
  .h4TitleWidget__text,
  .h5TitleWidget__text,
  .h6TitleWidget__text {
    padding: 5px;
    letter-spacing: normal;
  }
}
@media (max-width: 480px) {
  .kardineoCom {
    display: block;
  }
}
